{% extends "base_page.html" %}
{% block title %}
Главная
{% endblock %}
{% block body %}
    <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Вы можете лемматизировать свой текст</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Чтобы сделать это, загрузите файл с расширением .txt</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button onclick="window.location.href = '/upload';" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Загрузка файла</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}